.content {
    margin: 0 auto; 
    text-align: center; 
    width: 100%;
}

.content__header {
    width: 100%;
}

.content__title {
    color: rgb(100,50,155);
}

.content__link {
    text-decoration: none;
    color: rgb(0,170,0);
}

.content__button {
    background-color: rgb(254,203,0);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(0,0,0);
    border-radius: 2px;
    color: rgb(0,0,0);
    display: inline-block;
    font-size: 13.3333px; 
    font-weight:700;
    margin: 0 0.333% auto;
    padding: 1px 6px;
}

.content__article {
    border-bottom: 2px dashed gray;
    margin: 3% 10% 10%;
    text-align: justify;
}

.content__footer {
    text-align: right;
}
